@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
    min-width: 630px;
    height: 100%;
    min-height: 200px;
}

div {
    border: 2px solid black;
    display: block;
    
}

#main {
    height: 100%;
    width: 100%;
    border: none;

}

#header{
    min-height: 45px;
    top: 0px;

}

#weatheralert {
    min-height: 24px;
    width: 100%;
}

#search {
    min-height: 28px;
    width: 100%;
}

#current {
    display: inline-block;
    height: 300px;
    min-width: 300px;
}

#map {
    display:inline-block;
    height: 300px;
    width: 300px;
    right: 0px;

}

#hourly {
    min-height: 80px;
    width: 100%;
}

#daily {
    min-height: 80px;
    width: 100%;
}

#footer{
    min-height: 30px;
    width: 100%;
    bottom: 0px;

}