@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
    min-width: 640px;
    height: 100%;
    min-height: 500px;
    background-color: #FFC6A9;
    width: 100%;
    margin: 0px;
}

div {
    border: 0px solid black;
    display: block;
    border-radius: 8px;
    background-color: #FFB18A;
    margin: 10px 0px 10px 0px;
    width: 100%;

    
}

#main {
    height: 100%;
    width: 100%;
    background-color: #FFC6A9;
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    margin-right: 0px;

}

#header{
    min-height: 45px;
    margin-top: 0px;

}

#weatheralert {
    min-height: 24px;
}

#search {
    min-height: 28px;
}

#currentmapwrapper {
    background-color: #FFC6A9;
    height: 300px;
}

#current {
    display: inline-block;
    height: 300px;
    min-width: 300px;
    margin: 0px;
}

#map {
    display:inline-block;
    height: 300px;
    width: 300px;
    margin: 0px 0px 0px 10px;
    float: right;

}

#hourly {
    min-height: 80px;
}

#daily {
    min-height: 80px;
}

#footer{
    min-height: 30px;
    margin-bottom: 0px;

}