@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

body{
  background: #0B1D2D;
}

#navbar {
  background: #102B44;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
}

h1 {
  font-size: larger;
  color: #F8FBFD;
  text-align: center;

}

#navbar ul li{
  padding-top: 0;
  padding-bottom: 6px;
  padding-left: 16px;
  font-size: larger;
  text-align: left;
  color: #F8FBFD;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#navbar li:hover{
  transform: scale(1.05);
}

#navbar li:hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#themedropdown {
  position: absolute;
  min-width: 160px;
  box-shadow: 4px 4px 4px 0px #16395A;
  z-index: 1;
  font-size: small;
  padding-left: 8px;
}


#navbar img {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

#buttonDiv {
  position: fixed;
  left: 180px;
  width: 10%;

}

#noteButton {
  backface-visibility: hidden;
  border-color: #215687;
  background: #16395A;
  box-sizing: border-box;
  font-size: medium;
  color: #F8FBFD;
  display: inline-block;
  position: relative;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

#noteButton:disabled {
  color: #787878;
  cursor: auto;
}

#noteButton:not(:disabled):hover {
  transform: scale(1.05);
}

#noteButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#noteButton:focus {
  outline: 0 solid transparent;
}

#noteButton:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#noteButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#noteButton:not(:disabled):active {
  transform: translateY(.125rem);
}


#noteWrapper {
  position: relative;
  border: 2.5px solid #215687;
  left: 180px;
  top: 50px;
  width: calc(100% - 180px);
}

.note {
  position: relative;
  vertical-align: top;
  background-color: #16395A;
  margin: 1%;
  padding: 1%;
  border: 2px solid #215687;
  width: 31.3%;
  display: inline-block;
  word-wrap: break-word;

}

.note p {
    color: #F8FBFD;
}

.star {
  position: absolute;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.star:hover {
  transform: scale(1.05);
}

.star:hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.editButton, .trashButton{
  backface-visibility: hidden;
  border-color:#215687 ;
  background: #16395A;
  box-sizing: border-box;
  font-size: small;
  color: #F8FBFD;
  display: inline-block;
  position: relative;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  min-width: 43.3px;
  height: 25x;
  margin-right: 2px;
  right: 0px;
  cursor: pointer;
}

.editButton:disabled, .trashButton:disabled{
  color: #787878;
  cursor: auto;
}

.editButton:not(:disabled):hover, .trashButton:not(:disabled):hover{
  transform: scale(1.05);
}

.editButton:not(:disabled):hover:active , .trashButton:not(:disabled):hover:active{
  transform: scale(1.05) translateY(.125rem);
}

.editButton:focus, .trashButton:focus {
  outline: 0 solid transparent;
}

.editButton:focus:before, .trashButton:focus:before{
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.editButton:focus:not(:focus-visible), .trashButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.editButton:not(:disabled):active, .trashButton:not(:disabled):active {
  transform: translateY(.125rem);
}