@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  font-size: larger;
  color: #ffffff;
  text-align: center;
}

/* Hide Scrollbar */
/* Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/*IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
  background-image: linear-gradient(to bottom right, #004c90, #004c90);
}

#header {
  position: sticky;
  z-index: 100000000;
  background-color: #0077c2;
  width: 100vw;
  top: 0;
  height: max(72px, 8vh);
  box-shadow: 0px 4px 0px 0px #003a74;
}

#logo {
  display: inline-block;
  height: 100%;
  padding-left: 6px;
}

#navbar {
  position: absolute;
  display: inline-block;
  right: 12px;
  bottom: 8px;
}


#navbar li {
  display: inline-block;
  padding-left: 2vw;
  font-size: 3.2vh;
  color: #ffffff;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#navbar li:hover{
  transform: scale(1.05);
}

#navbar li:hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#themedropdown {
  background-color: #0077c2;
  position: absolute;
  font-size: small;
  right: -4px;
  box-shadow: 4px 4px 4px 0px #003a74;
}

#themedropdown li {
  position: relative;
  display: flex;
  margin-left: 14px;
  padding: 0;
  margin-right: 6px;

}

#bg {
  z-index: -1;
  position: absolute;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

#main {
  display: inline;
  width: 100vw;
  height: 100%;
}

#newNoteWrapper {
  display: inline;
  width: 100vw;
  height: 100%;
  
}

#newNoteWrapper .note {
  display: block;
  position: relative;
  width: 40vw;
  min-height: 30vw;
  max-height: fit-content;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

/* #newNoteWrapper .noteContentDiv {
  min-height: 30vw;
  max-height: fit-content;
} */

#newNoteWrapper .noteText {
  min-height: calc(30vw - 2vh);
  max-height: fit-content;
}


#buttonDiv {
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10%;

}

#newNoteButton {
  backface-visibility: hidden;
  border: 2px solid #ffffff;
  border-radius: 6px;
  font-size: medium;
  background-color: #0077c2;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

#newNoteButton:disabled {
  color: #787878;
  cursor: auto;
}

#newNoteButton:not(:disabled):hover {
  transform: scale(1.05);
}

#newNoteButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#newNoteButton:focus {
  outline: 0 solid transparent;
}

#newNoteButton:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#newNoteButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#newNoteButton:not(:disabled):active {
  transform: translateY(.125rem);
}


#noteWrapper {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  position: relative;
  flex-direction: column;

  flex: 1;
  flex-wrap: nowrap;
  vertical-align: top;
  /* margin: 1%; */
  padding: 1%;
  width: 31.3%;
  height: fit-content;
}

/* #column1 {
  height: 0;
}
#column2 {
  height: 0;
}
#column3 {
  height: 0;
} */

.note {
  margin-bottom: 1.5vh;
  position: relative;
  color: #ffffff;
  vertical-align: top;
  background-color: #0077c2;
  padding-bottom: 1vh;
  padding: 1%;
  box-shadow: 4px 4px 4px 0px #003a74;
  border-radius: 8px;
  border: 2px solid #0077c2;
  word-wrap: break-word;
  min-height: fit-content;
}

.noteContentDiv{
  position: relative;
  padding-top: 2%;
  padding-bottom: 20%;
  padding-left: 2%;
  width: 92%;
  /* height:100%; */
}

.noteText {
  position: relative;
  display: block;
  min-height: 80px;
  width: 100%;
}


.star {
  position: absolute;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.star:hover {
  transform: scale(1.05);
}

.star:hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.noteButtonDiv{
  display: flex;
  flex: 1;
  position: absolute;
  min-height: 30px;
  height: 10%;
  max-height: 40px;
  right: 0;
  bottom: 4px;
}

.noteButton{
  backface-visibility: hidden;
  background: #0077c2;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  font-size: small;
  color: #ffffff;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8vw;
  min-width: 43.3px;
  height: 100%;
  margin-right: 4px;
  cursor: pointer;
  
}

.noteButton:not(:disabled):hover {
  transform: scale(1.05);
}

.noteButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.noteButton:focus {
  outline: 0 solid transparent;
}

.noteButton:focus:before{
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.noteButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.noteButton:not(:disabled):active {
  transform: translateY(.125rem);
}